@import url(reset.css);
@import url(skeleton.css);
@import url(navbar.css);

#header {
  width: 100%;
  margin: 2.5em 0;
  padding: 0 1em;
}

.entry {
  border-radius: 1.25em;
  background: #001429;
  width: 100%; 
  padding: 1em 0;
}

.entry h1 {
  border-radius: .25em;
  background: #E6E8EA;
  margin-right: 2%;
  margin-left: 2%;
  padding: 1rem 2rem;
}

.entry .body{
  border-radius: .25em;
  background: #E6E8EA;
  margin-right: 2%;
  margin-left: 2%;
  padding: 1rem 2rem;
}