<!DOCTYPE html>
<html>
  <head>
    <title>Practice page</title>
	<link rel="stylesheet" type="text/css" href="../public/css/default.css" media="screen" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../public/js/handlebars-v3.0.3.js"></script>
	<script src="../public/js/app.js"></script>
  </head>
  <body>
    <!--- Head bar for future logo --->
	<div id="header">Kettering Anime Club</div>
  <div class="container">
    <div class="row">
	  <!--- Navigation bar --->
	  <div id="navigation" class="twelve columns"></div>   
    </div>
	<div class="row">
	  <!--- Space for text content --->
      <div id="content" class="twelve columns">I am getting output.</div>
    </div>
  </div>
  </div>  
    <script id="navigation-bar" type="text/x-handlebars-template">
      <nav>
	    <ul> 
	      {{#list nav}}
		  <li>{{{anchor}}}{{title}}</a></li>
		  {{/list}}
		</ul>
      </nav>
    </script>

    <script id="navigation-subbar" type="text/x-handlebars-template">
	  <ul>
	    {{#list nav}}
		<li>{{{anchor}}}{{title}}</a></li>
        {{/list}}
      </ul>
    </script>

    <script id="home-page" type="text/x-handlebars-template">
      <div class="entry">
        <h1>{{title}}</h1>
        <div class="body">
          <p>{{body}}</p>
        </div>
      </div>
    </script>
	
	<script id="about-page" type="text/x-handlebars-template">
	  <div class="entry">
        <h1>{{title}}</h1>
        <div class="body">
          {{#each section}}
		    <h2>{{headline}}</h2>
			<p>{{article}}</p>
		  {{/each}}
		  <h2>Frequently Asked Questions</h2>
		  {{#each faq}}
		    <h3>{{question}}</h3>
			<p>{{response}}</p>
		  {{/each}}
        </div>
      </div>
	</script>
	
	<script id="rules-page" type="text/x-handlebars-template">
	  <div class="entry">
        <h1>{{title}}</h1>
        <div class="body">
          {{body}}
        </div>
      </div>
	</script>
	
	<script id="showings-page" type="text/x-handlebars-template">
	  <div class="entry">
        <h1>{{title}}</h1>
        <div class="body">
          {{body}}
        </div>
      </div>
	</script>
	
	<script id="recommend-page" type="text/x-handlebars-template">
	  <div class="entry">
        <h1>{{title}}</h1>
        <div class="body">
          {{body}}
        </div>
      </div>
	</script>
	
	<script id="collection-page" type="text/x-handlebars-template">
	  <div class="entry">
        <h1>{{title}}</h1>
        <div class="body">
          {{body}}
        </div>
      </div>
	</script>
	
	<script id="event-page" type="text/x-handlebars-template">
	  <div class="entry">
        <h1>{{title}}</h1>
        <div class="body">
          {{body}}
        </div>
      </div>
	</script>

  </body>
</html>