<!DOCTYPE html>
<html>
  <head>
    <title>Practice page</title>
	<link rel="stylesheet" type="text/css" href="../public/css/default.css" media="screen" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../public/js/handlebars-v3.0.3.js"></script>
	<script src="../public/js/app.js"></script>
  </head>
  <body>
    <div id="navigation"></div>
    <div id="output">
	  I am getting output.
	</div>
	
	<script id="navigation-bar" type="text/x-handlebars-template">
	  <nav>
	    <ul> 
	      {{#list nav}}
            <li>{{{anchor}}}{{title}}</a></li>
          {{/list}}
		</ul>
	  </nav>
	</script>
	
	<script id="navigation-subbar" type="text/x-handlebars-template">
	  <ul>
	    {{#list nav}}
          <li>{{{anchor}}}{{title}}</a></li>
        {{/list}}
	  <ul>
	
	</script>
	<script id="entry-template" type="text/x-handlebars-template">
    <div class="entry">
      <h1>{{title}}</h1>
    <div class="body">
      {{body}}
    </div>
    </div>
    </script>
	
  </body>
</html>